@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap');



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body{
  font-family: 'Montserrat';
  overflow-x: hidden;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.color--div{
  display: flex;
  justify-content: space-between;
  background-color: #23242a;
  padding: 23px;
  color: aliceblue;
}

.color--div ul{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.color--div ul li{
margin-left: 50px;
}
.color--div ul li a{
color: aliceblue;
}

.logo{
  padding: 9px;
  text-decoration: wavy;
}

/* login & hamburger div */
.log-ham{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 100px;
  z-index: 2;  
}



.content-text{
  margin-top: 100px;
  margin-left: 200px;
  margin-top: 200px;
}
.content-text h1{
font-size: 6rem;
/* color: rgb(58, 165, 253); */
color: #23242a;
}

.sub-text{
font-size: 1.3rem;
/* color: rgb(58, 165, 253); */
}



/* login  */
.login{
  margin-right: 70px;
  color: aliceblue;
}

.image{
  margin-left: 700px;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2;
}

.image-number{
  font-size: 10rem;
  color: transparent;
  -webkit-text-stroke: 1px aliceblue;
  position: absolute;
  font-family: 'Syne';
  top: 65%;
  left: 80%;
  z-index: -4;

}


.right-side{
  height: 757px;
  width: 450px;
  background-color: #23242a;
  position: absolute;
  float: right;
  left: 75%;
  top: 0;
}


























/* ===================== Search bar style ==================== */
.inputbox {
  position: relative;
  width: 196px;
  margin-right: 200px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid~span,
.inputbox input:focus~span {
  color: #23242a;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #23242a;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid~i,
.inputbox input:focus~i {
  height: 44px;
}

/* ===================================================== */


/* ========== hover btn======================= */
.button {
  display: flex;
  margin-left: 450px;
  
}

.box {
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  transition: all .8s;
  cursor: pointer;
  position: relative;
  background: rgb(58, 165, 253);
  overflow: hidden;
}

.box:before {
  content: "W";
  position: absolute;
  top: 0;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform .4s;
}

.box:nth-child(2)::before {
  transform: translateY(-100%);
  content: 'O';
}

.box:nth-child(3)::before {
  content: 'R';
}

.box:nth-child(4)::before {
  transform: translateY(-100%);
  content: 'L';
}

.box:nth-child(5)::before {
  content: 'D';
}

.button:hover .box:before {
  transform: translateY(0);
}


/* ============== section for bikes ===================== */
.section{
  position: relative;
  height: 150vh;
  width: 100%;
}

.header-text{
  /* position: absolute; */
}

/* .App{
  height: auto;
} */